@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);





#header1-0 P {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #2b2b2b;
}
#header1-0 .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#header1-0 H1 {
  font-size: 48px;
  font-family: 'Playfair Display', sans-serif;
  color: #2b2b2b;
}
#menu-2 .navbar-toggler {
  color: #000000;
}
#menu-2 .nav-link {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#menu-2 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#social-buttons1-8 .mbr-section-title {
  font-size: 16px;
  color: #ffffff;
}



#msg-box5-1c .mbr-section-title {
  color: #ffffff;
  font-size: 25px;
  text-align: left;
}
#msg-box5-1c .lead P {
  color: #ffffff;
  font-size: 20px;
  text-align: left;
}
#msg-box5-1f .mbr-section-title {
  font-size: 25px;
  text-align: left;
}
#msg-box5-1f .lead P {
  text-align: left;
}
#menu-g .navbar-toggler {
  color: #000000;
}
#menu-g .nav-link {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#menu-g .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#msg-box5-12 .mbr-section-title {
  font-size: 25px;
  color: #ffffff;
  text-align: left;
}
#msg-box5-12 .lead P {
  font-family: 'Alegreya Sans', sans-serif;
  color: #ffffff;
  text-align: left;
}
#msg-box5-1g .mbr-section-title {
  font-size: 25px;
  text-align: left;
}
#msg-box5-1g .lead P {
  text-align: left;
}


#menu-h .navbar-toggler {
  color: #000000;
}
#menu-h .nav-link {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#menu-h .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}


#menu-o .navbar-toggler {
  color: #000000;
}
#menu-o .nav-link {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#menu-o .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#header2-v H1 {
  font-size: 36px;
}


#menu-p .navbar-toggler {
  color: #000000;
}
#menu-p .nav-link {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#menu-p .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#header2-z H1 {
  font-size: 36px;
}
#header2-1a H1 {
  font-size: 36px;
}
#header2-1b H1 {
  font-size: 36px;
}
#header2-1l H1 {
  font-size: 36px;
}
#header2-1m H1 {
  font-size: 36px;
}
#header2-1n H1 {
  font-size: 36px;
}
#header2-1o H1 {
  font-size: 36px;
}


#menu-q .navbar-toggler {
  color: #000000;
}
#menu-q .nav-link {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#menu-q .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#form1-17 .mbr-section-title {
  font-size: 25px;
}
#form1-17 .btn {
  font-size: 20px;
}


#menu-11 .navbar-toggler {
  color: #000000;
}
#menu-11 .nav-link {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#menu-11 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}










#content5-2c P {
  font-family: 'Roboto', sans-serif;
}
#menu-28 .navbar-toggler {
  color: #000000;
}
#menu-28 .nav-link {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#menu-28 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}
#msg-box5-29 .mbr-section-title {
  font-family: 'Roboto', sans-serif;
}
#msg-box5-29 .lead P {
  font-family: 'Roboto', sans-serif;
}
#msg-box5-2d .mbr-section-title {
  font-family: 'Roboto', sans-serif;
}
#msg-box5-2e .mbr-section-title {
  font-family: 'Roboto', sans-serif;
}
#msg-box5-2f .mbr-section-title {
  font-family: 'Roboto', sans-serif;
}
#msg-box5-2g .mbr-section-title {
  font-family: 'Roboto', sans-serif;
}
#msg-box5-2h .mbr-section-title {
  font-family: 'Roboto', sans-serif;
}
